<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error del sistema</title>
    <link rel="stylesheet" href="../static/css/errorsistema.css">
</head>
<body>
    <div class="error-container">
        <div class="error-box">
            <h1 class="error-title">¡Oops! Algo salió mal 😵</h1>
            <p class="error-message">Ha ocurrido un error inesperado en el sistema. Por favor, intenta de nuevo más tarde o contacta con el soporte técnico si el problema persiste.</p>
        </div>
    </div>
</body>
</html>